<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<body>
<div class="container"></div>
<div>
    <a href="/logout">Logout</a>
<h2> Все пользователи</h2>
<table class="table table-striped">

    <tr>
        <th>Подробнее</th>
        <th>Id</th>
        <th>username</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Взаимодействие</th>

    </tr>
    </thead>
    <tbody>
       <tr th:each="user : ${users}">
           <td> <a th:href ="@{/admin/{id}(id=${user.getId()})}">ссылка</a></td>
           <td th:text ="${user.getId}"></td>
           <td th:text ="${user.getUsername}"></td>
           <td th:text ="${user.getFirstName}"></td>
           <td th:text ="${user.getLastName}"></td>
        <td> <a th:href="@{/admin/delete/{id}(id=${user.getId()})}">Удалить</a>
            <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Изменить</a>

        </td>
<!--           <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">-->
<!--               <input type="submit" value="Удалить">-->
<!--           </form>-->
       </tr>
    </tbody>
</table>
</div>

<br/>
<hr/>
<a href="admin/newuser">Создать нового пользователя</a>

<br/>

</body>
</html>