<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/newuser}" th:object="${user}">
  <label for="name"> Enter name: </label>
  <input type="text" th:field="*{firstName}" id="name"/>
  <label for="lastName"> Enter Last Name:</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <label for="username"> Enter username:</label>
  <input type="text" th:field="*{username}" id="username"/>
<!--  <label for="password"> Enter username:</label>-->
<!--  <input type="text" th:field="*{username}" id="username"/>-->

  <br/>
  <input type="submit" value="create"/>
  <a href="/logout">Logout</a>
</form>

</body>
</html>