<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Spring Security Example</title>
</head>
<body>
<p> ID: <span  th:text ="${user.getId}"></span></p>
<p> Username: <span th:text ="${user.getUsername}"></span></p>
<p> Firstname: <span th:text ="${user.getFirstName}"></span></p>
<p> Lastname: <span th:text ="${user.getLastName}"></span></p>

<a href="/logout">Logout</a>

</body>
</html>